# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P84";
NET  rst  LOC = "P105" | PULLUP;

# ==== UART ====
NET "uart_rxd" LOC = "P69";
NET "uart_txd" LOC = "P70";

# ==== EVERLOOP ====
NET "led_control"  LOC = "P56";

# ==== CAMERA ====

NET "data[0]" 			LOC="P95"	| IOSTANDARD = LVCMOS33;
NET "data[1]" 			LOC="P94"	| IOSTANDARD = LVCMOS33;
NET "data[2]" 			LOC="P93"	| IOSTANDARD = LVCMOS33;
NET "data[3]" 			LOC="P92"	| IOSTANDARD = LVCMOS33;
NET "data[4]" 			LOC="P88"	| IOSTANDARD = LVCMOS33;
NET "data[5]" 			LOC="P85"	| IOSTANDARD = LVCMOS33;
NET "data[6]" 			LOC="P83"	| IOSTANDARD = LVCMOS33;
NET "data[7]"			LOC="P82"	| IOSTANDARD = LVCMOS33;
NET "divOut" 			LOC="P81" 	| IOSTANDARD = LVCMOS33;
NET "pclk" 			LOC="P80"	| IOSTANDARD = LVCMOS33;
NET "href"        		LOC="P79"	| IOSTANDARD = LVCMOS33;
NET "vsync" 	  		LOC="P78"	| IOSTANDARD = LVCMOS33;
